<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>cpp_common copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cpp_common copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cpp_common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libcommn.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libcommon.a copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libcommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9356C6A11FACBBCE00AD989B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9356C6C71FACCA6300AD989B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9356C6D71FACCB2D00AD989B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9356C6E71FACCB5100AD989B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936CA0E81FBC817C0058DE2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936CA0F01FBC82350058DE2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93945E931FAE193C00AEF4F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93945EA01FAE196000AEF4F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
